<div class="edit-project-overlay">
  <img
    class="close-icon"
    (click)="onClose()"
    src="../../../assets/close-icon.svg"
  />
  <form class="edit-project-form" [formGroup]="editProjectForm">
    <label for="projectName">Project Name</label>
    <input
      class="project-input-style"
      formControlName="name"
      name="projectName"
      type="text"
    />
    <label for="description">Description</label>
    <input
      class="input-style"
      formControlName="description"
      name="description"
      type="text"
    />

    <h2>Active?</h2>
    <app-dropdown
      [options]="['Yes', 'No']"
      button="Submit"
      (passSelection)="onSubmit($event)"
    ></app-dropdown>
  </form>
</div>
