<nav id="navbar">
  <ul>
    <li class="logo-admin">
      <img class="logo" src="../../assets/logo.svg" />
      <div class="admin-text" *ngIf="currentUser?.admin">ACTING AS ADMIN</div>
      <div class="admin-text" *ngIf="!currentUser?.admin">
        {{ currentUser?.profile?.firstName }}
        {{ currentUser?.profile?.lastName! | nameToInitial }}
      </div>
    </li>
    <li class="hamburger" (click)="toggleMenu()">
      <img src="../../assets/hamburger.svg" />
    </li>
    <li class="menu" [class.is-open]="isMenuOpen">
      <a class="menu-item">Home</a>
      <a class="menu-item" *ngIf="currentUser?.admin">Company</a>
      <a class="menu-item">Teams</a>
      <a class="menu-item" *ngIf="currentUser?.admin">Users</a>
      <a class="menu-item no-border">Logout</a>
    </li>
  </ul>
</nav>
